
//COLOURS

$color-secondary: rgba(117, 219, 205, 1);
$color-primary: rgba(212, 160, 167, 1);
$color-tertiary: rgba(74, 64, 99, 1);
$color-light-grey-1: rgba(229, 233, 236, 1);
$color5: rgba(191, 172, 200, 1);


//FONTS

$font-main: 'Playfair Display', serif;
$font-secondary: 'Raleway', sans-serif;


//BOX SHADOWS

$bs-small: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);