.footer{
    background-color: $color-primary;
    padding: 4rem 6rem;
    padding-bottom: 0;
    margin: 6rem -5rem -3rem -6rem;
   

    &__contact{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 3rem;
       
    }


    &__social{

        margin-right: auto;

        &-icon{
            height: 4rem;
            width: 4rem;
            fill: $color-secondary;
            background-size: 100% auto;
            transition: all .2s;
         

            &:not(:last-child){
                margin-right: 2rem;
            }

            &:hover{
                transform: rotate(-40deg) translateY(-5px);
            }
        }

    
    }

    &__btn{

        @include button ($color-secondary, #fff, $color-primary);
     
        &:not(:last-of-type){
            margin-right: 2rem;
        }
    }

    &__copyright{
        font-size: 1.2rem;
        
    }
}